export(norm)
export(hill.div)
export(div.profile)
export(div.part)
export(div.part.plot)
export(beta.dis)
export(UqN)
export(CqN)
export(VqN)
export(SqN)
export(alpha.div)
export(gamma.div)
export(hill.intext)
export(gamma.curve)
export(div.test)
export(div.test.plot)
export(pair.dis)
export(pair.dis.plot)
export(phylo.to.phylog)
export(to.inext)
